PORT=3000
TWILIO_ACCOUNT_SID=AC1dced4830d2d16b5fafe3c4976abfaf4
TWILIO_AUTH_TOKEN=OR4084215e38a1ed324b20fc3b578b0c61
TWILIO_WHATSAPP_FROM=whatsapp:+17372212163
ORDER_MESSAGE_TEMPLATE=Hi {name}, thank you for your order with Isai Fashions. We have received your order for {item}. We will contact you soon on {phone}.
